body {
  margin: 0;
  /* padding: 50px; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-gray {
  background: #f7f7f7;
}

/*flex*/
.flex-middle {
  display: flex!important;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

/* sidebar */
.bd-sidebar {
  position: sticky;
  z-index: 1000;
  height: calc(100vh - 4rem);
  border-right: 1px solid #ececec;
}

.side-nav {
  border-top: 1px solid #ececec;
  width: 100%;
}


/* distance */
.mr10 {
  margin-right: 10px;
}
.mr3 {
  margin-right: 3px;
}

/* text */
.text-center {
  text-align: center;
}